body {
  margin: 0px;
}

/* Styling for header*/
.header {
  position: relative;
  background: lightblue;
  width: 100%;
  margin: 0%;
  float: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bold;
}

.header a {
  color: blue;
}

.header li:nth-child(1) {
  float: left;
}

.header li:nth-child(n + 2) {
  float: right;
}

.header ul {
  text-decoration: none;
  list-style: none;
}

.header li {
  display: inline;
}
position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
@media (min-width: 600px) {
  .header {
    position: relative;
    background: lightblue;
    width: 100%;
    margin: 0%;
    float: right;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: bold;
  }
  .header a {
    color: blue;
  }
  .header li:nth-child(1) {
    float: left;
  }
  .header li:nth-child(n + 2) {
    float: right;
  }
  .header ul {
    text-decoration: none;
    list-style: none;
  }
  .header li {
    display: inline;
  }
}

/* Global Style */
a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.ATRI {
  color: #ff004e94;
}
/* Introduction Image and Text */
#showcase {
  background-image: url("../images/ima.jpg");
  background-position: center right;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
  top: 25px;
  text-align: center;
  color: black;
  font-size: 25px;
  line-height: 1.6em;
  padding-top: 30px;
}

/* Container with images and project description */
.blockimages {
  width: 300px;
  height: 250px;
  height: auto;
  margin: auto;
}

.project-container {
  max-width: 90%;
  margin: 40px auto 0 auto;
  position: relative;
  line-height: 1.7em;
}

.project-description {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  position: relative;
  animation-name: project-description;
  animation-duration: 4s;
  animation-delay: 5.5s;
}

.project-description h4 {
  font-size: 20px;
  font-style: sans-serif;
}

.button {
  position: absolute;
  background-color: greenyellow;
  color: #fff;
  padding: 5px;
  left: 105px;
  bottom: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.Github_button {
  background-color: coral;
  color: whitesmoke;
  position: absolute;
  left: 110px;
  bottom: 0px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
}

/*
  .button{
    position: absolute;
    background-color:greenyellow;
    color:#fff;
    padding: 5px;
    left: 20px;
    bottom: 0px;    
    font-weight: bold;
    border-radius: 10px;
    }
.Github_button{
    background-color:coral;
    color:whitesmoke;
    position: absolute;
    right: 30px;
    bottom: 0px;
    text-align:right;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

*/
@media (min-width: 900px) {
  .project-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
  }
  .blockimages {
    width: 100%;
    height: 200px;
  }
}
.questionForContact {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.ButtonOfQuestionForContact {
  border-radius: 50%;
  color: black;
  background-color: lightskyblue;
  padding: 12px;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}
/* Footer */
.footer {
  position: relative;
  background: lightblue;
  width: 100%;
  margin: 0%;
  float: right;
  font-family: "Times New Roman", Times, serif;
  clear: both;
}

footer li {
  text-decoration: none;
  list-style: none;
  line-height: 1.4em;
}

.footer li:nth-child(1) {
  font-size: 15px;
}

.footer li:nth-child(2) {
  font-size: 20px;
}

.footer li:nth-child(3) {
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  line-height: 2.1em;
}

.footer li:nth-child(4) {
  text-align: right;
  font-size: 15px;
  color: white;
}

@media (min-width: 900px) {
  .footer {
    position: relative;
    background: lightblue;
    width: 100%;
    margin: 0%;
    float: right;
    font-family: "Times New Roman", Times, serif;
    clear: both;
  }
  footer li {
    text-decoration: none;
    list-style: none;
    line-height: 1.4em;
    font-family: "Times New Roman", Times, serif;
  }
  .footer li:nth-child(1) {
    font-size: 20px;
  }
  .footer li:nth-child(2) {
    font-size: 30px;
  }
  .footer li:nth-child(3) {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 2.1em;
  }
  .footer li:nth-child(4) {
    text-align: right;
    font-size: 20px;
    color: white;
  }
}
